@import url('../../../assets/fonts/Exo2/exo2.css');

.contactBar{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    font-family: 'Exo2';
}

.contact {
    display: flex;
    font-size: 22px;
    align-items: center;
    cursor: pointer;
    padding: 8px 0px 0 12px;
    text-decoration: none;
    position: relative;
}

.user:hover {
    opacity: 70%;
}

.icon{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.user{
    border-bottom: rgba(71, 5, 5, 0.356) solid 1px;
    flex: auto;
    color: rgb(204, 204, 204);
    margin-left: 10px;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.contactBar{
    outline: none;
    flex: auto;
    min-height: 60px;
    max-height: 60px;
}

.unreadCount {
    position: absolute;
    right: 0px;
    bottom: 5px;
    font-size: 18px;
    background-color: rgb(94, 182, 249);
    height: 22px;
    width: fit-content;
    padding: 0 7px;
    text-align: center;
    border-radius: 11px;
    color: whitesmoke;
}

.onlineDot{
    background-color: rgb(14, 223, 14);
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    left: 49px;
    bottom: 5px;
    background: radial-gradient(circle closest-side, rgb(8, 236, 8) 3px, 
    rgb(94, 182, 249));
}

.online {
    font-family: 'Exo2';
    font-size: 14px;
    color: rgb(94, 182, 249);
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.date {
    height: 99%;
    display: block;
    min-width: fit-content;
    font-size: 14px;
    align-self: flex-start;
    border-bottom: rgba(71, 5, 5, 0.356) solid 1px;
}