
.chat{
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
}


.chatWindow {
    height: calc(100vh - 85px);
    padding-bottom: 20px;
}

.textInput{
    margin: 5px;
}

