@import url('../../assets/fonts/Exo2/exo2.css');

.chat {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
}



.infoBar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding-left: 20px;
    color: rgb(105, 104, 182);
    text-decoration: none;
    position: relative;
}

.buttons {
    color: rgb(105, 104, 182);
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: rgb(180, 180, 180) solid 1px;
    cursor: pointer;
    font-family: 'Exo2';
    height: 30px;
}

.tasks {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    opacity: 70%;
}

.tasks:hover,
.messages:hover {
    color: rgb(52, 52, 103);
}

.messages {
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    border-bottom: rgb(105, 104, 182) solid 2px;
}

.textInput {
    display: flex;
    margin: 0 5px;
    width: 100%;
}

.name {
    padding: 0 45px;
    font-family: 'Exo2';
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.deleteMessages {
    position: absolute;
    right: 30px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.deleteMessages:hover {
    opacity: 70%;
}

.assignment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 100%;
    cursor: pointer;
}

.assignmentIcon {
    width: 30px;
    height: 30px;
    padding-bottom: 3px;
}

.assignmentIcon:hover {
    opacity: 70%;
}