@import url('../../assets/fonts/Exo2/exo2.css');

.profileWindow {
    background-color: rgb(180, 175, 175);
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Exo2';
}