.main{
    display: table;
    overflow: hidden;
    width: 100%;
}

.messageBlock {
    display: block;
    width: 100%

}

.message {
    display: flex;
    margin: 7px 0;
    position: relative;
    border-radius: 4px;
    padding-bottom: 3px;
}

.message:hover{
    opacity: 70%;
}

.messageText {
    font-size: 18px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 5px;
    display: block;
    word-break: break-word;
}

.logo {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    color: rgb(89, 80, 168);
    font-size: 20px;
    list-style-type: none;
    padding-left: 20px;
    font-family: 'Exo2';
}

.time{
    padding-top: 3px;
    min-width: 50px;
    color: rgb(89, 80, 168);
    font-size: 16px;
    top: 0px;
    text-align: center;
    padding-left: 18px;
}

.date {
    display: block;
    text-align: center;
    font-size: 14px;
    min-height: fit-content;
    color: rgb(89, 80, 168);
}

.newMessage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(190, 190, 190);
    border-radius: 4px;
}