@import url('../../../assets/fonts/Exo2/exo2.css');

.window{
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
    scrollbar-color: rgba(73, 73, 73, 0.384) transparent;
    scrollbar-width: thin;
}

.scrollbar {
    width: 25vw;
    min-width: 150px;
    background: #fff;
    overflow-y: scroll
}