.window{
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
}

.message {
    display: flex;
    min-height: 32px;
    align-items: center;
    padding: 12px 0 12px 0;
}

.message:hover{
    opacity: 70%;
}

.messageText {
    font-size: 20px;
    list-style-type: none;
    padding-left: 20px;
}

.logo {
    width: 45px;
    height: 45px;
    align-self: center;
}

.username {
    color: rgb(89, 80, 168);
    font-size: 20px;
    list-style-type: none;
    padding-left: 20px;
}