@import url('../../../assets/fonts/Exo2/exo2.css');

.window{
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
}

.main{
    display: table;
    overflow: hidden;
}

.messageBlock {
    display: block;
    margin-right: 100px;
}

.message {
    display: flex;
    padding: 10px 0;
}

.message:hover{
    opacity: 70%;
}

.messageText {
    font-size: 18px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 5px;

    display: block;
    word-break: break-word;
    width: available;
}

.logo {
    width: 45px;
    height: 45px;
    min-width: 45px;
}

.username {
    color: rgb(89, 80, 168);
    font-size: 20px;
    list-style-type: none;
    padding-left: 20px;
    font-family: 'Exo2';
}

.time{
    right: 20px;
    flex: auto;
    min-width: 50px;
    text-align: right;
    color: rgb(89, 80, 168);
    font-size: 16px;
}

.date {
    display: block;
    text-align: center;
    font-size: 14px;
    min-height: fit-content;
    color: rgb(89, 80, 168);
}