@import "~normalize.css";

* {
    overflow: hidden;
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overscroll-behavior-y: none;
}


body{
    background-color: rgb(204, 201, 196);
}
