@import url('./../../../assets/fonts/Password/password.css');
@import url('./../../../assets/fonts/Exo2/exo2.css');

.main {
    font-family: 'Exo2';
    align-items: center;
    display: flex;
    padding: 12px 10px;
    width: calc(100% - 60px);
    justify-content: space-between;
    font-size: 24px;
    background-color: rgb(190, 190, 190);
    margin: 20px;
    border-radius: 8px;
    min-height: 30px;
}

.href {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
    text-align: right;
}

.input {
    display: block;
    width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    height: 18px;
    font-size: 14px;
}

.input::placeholder {
    font-family: 'Exo2';
}

.warning {
    display: flex;
    align-self: flex-start;
    padding: 0 20px;
    margin: -9px 0px;
    color: red;
}