
.contactsBar {
    background: linear-gradient(to right, rgb(48, 129, 184), rgb(89, 80, 168));
    display: flex;
}


.dragPanel {
    width: 3px;
    cursor: col-resize;
    right: inherit;
}


.contactList {
    width: 100%;
}
