.reactSwitchCheckbox {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
.reactSwitchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: grey;
    border-radius: 50px;
    position: relative;
    transition: background-color .2s;
}
  
.reactSwitchLabel .reactSwitchButton {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    min-width: 45%;
    border-radius: 50%;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
  
.reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}