.input {
    width: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 100%;
    padding-left: 15px;
}

.img {
    height: 50px;
    width: 50px;
    padding: 0 15px 0 5px;
}

.sender {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.input::placeholder{
    color:black
}

.img:hover{
    opacity: 70%;
}

