@import url('../../assets/fonts/Exo2/exo2.css');

.settings {
    font-family: 'Exo2';
    display: flex;
    flex-direction: column;
    flex: auto;
    padding-top: 25px;
    align-items: center;
}

.button {
    display: block;
    width: fit-content;
    margin-top: 50px;
    background-color: transparent;
    color: red;
    font-size: 40px;
    border: none;
}

.button:hover{
    color: tomato;
}

.isPrivate {
    align-items: center;
    display: flex;
    padding: 10px;
    width: calc(100% - 60px);
    justify-content: space-between;
    font-size: 24px;
    background-color: rgb(190, 190, 190);
    margin: 20px;
    border-radius: 8px;
}