.backButton {
    position: absolute;
    cursor: pointer;
    left: 0px;
    color: rgb(133, 119, 255);
    display: flex;
    text-decoration: none;
    top: 6px;
    align-items: center;
}

.backButton:hover {
    color: rgb(110, 96, 240);
}

.back{
    font-size: 18px;
    padding-left: 4px;
    font-family: 'Exo2';
    padding-bottom: 5px;
}

.arrow {
    padding-left: 8px;
}