@import url('../../../assets/fonts/Exo2/exo2.css');

.main  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 0 20px;
    text-align: center;
}

.text {
    font-family: 'Exo2';
    color: black;
    font-size: 16px;
}